/dist/libs/**
/dist/favicon.ico
/dist/three.*
/dist/prod.test.js
/dist/TestCase.js
/dist/Vin3GIS/test/**
/examples
/loader
/public
/test
src/**/*
/docs
.gitlab-ci.yml
custom.d.ts
index.html
index-prod.html
tsconfig.json
webpack.*.js